.grid{

   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;

}
img{
    width: 70%;
}
#com{
    width: 80%;
    margin-top: 5%;
}



.kj{
    background-color: #e66698a6;
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 20%;
    margin-bottom: 30%;
    padding: 10px,10px,10px,10px;
    width: 80%;
    height: 80%;
    text-align: center;
    box-shadow:10px 10px 10px rgb(41, 41, 41); 

}
p{

    padding-left: 4%;
    padding-right: 4%;
    font-family: 'Itim', cursive;
    font-size: larger;
}

h2{
    font-family: 'Fascinate', cursive;  
    font-size: 30px;
}

@media only screen and (max-width: 600px) {

    .grid{

        grid-template-columns: 1fr;
    }
    
}

@media only screen   
and (min-device-width : 320px)   
and (max-device-width : 480px){

    .kj{
        height: 90%;

    }

}

.bg{
    width:100%;
    position:absolute;
    z-index:-1;
}